In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import xgboost as xgb

In [9]:
df = pd.read_csv('../../data/DummyData.csv')

In [10]:
df.head()

,sex,age,educational_status,partner_status,employment_status,weight,height,BMI,treatment,EMI,...,nitrate,diuretic,psychotropic,angiotensin2_receptor_blocker,week,steps,mvpa_mins,perception,steps_goal,mvpa_mins_goal
0,1,25,1,0,1,65,177,20.75,0,0,...,0,0,0,0,1,58,0,0,191.0,0.0
1,1,25,1,0,1,65,177,20.75,0,0,...,0,0,0,0,2,191,0,0,0.0,0.0
2,1,25,1,0,1,65,177,20.75,0,0,...,0,0,0,0,3,0,0,0,NaN,NaN
3,0,31,2,1,1,64,172,21.63,0,0,...,0,0,0,0,1,20000,500,10,20000.0,500.0
4,0,31,2,1,1,64,172,21.63,0,0,...,0,0,0,0,2,20000,500,2,20000.0,500.0