## 1. Introduction to Logistic Regression

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os 
import warnings

warnings.filterwarnings('ignore')

# Import dataset

In [3]:
df = pd.read_csv('../data/weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

# Exploratory data analysis

In [5]:
df.shape

(259908, 24)

In [8]:
df.isnull().any()

Date             False
Location         False
MinTemp           True
MaxTemp           True
Rainfall          True
Evaporation       True
Sunshine          True
WindGustDir       True
WindGustSpeed     True
WindDir9am        True
WindDir3pm        True
WindSpeed9am      True
WindSpeed3pm      True
Humidity9am       True
Humidity3pm       True
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
RISK_MM           True
RainTomorrow      True
dtype: bool

In [7]:
col_names = df.columns 
col_names

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')


# Drop RISK_MM variable

It is given in the dataset description, that we should drop the RISK_MM feature variable from the dataset description. So, we should drop it as follows

In [9]:
df.drop(['RISK_MM'], axis=1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259908 entries, 0 to 259907
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           259908 non-null  object
 1   Location       259908 non-null  object
 2   MinTemp        255308 non-null  float64
 3   MaxTemp        255373 non-null  float64
 4   Rainfall       251949 non-null  float64
 5   Evaporation    111743 non-null  float64
 6   Sunshine       101224 non-null  float64
 7   WindGustDir    240668 non-null  object
 8   WindGustSpeed  240862 non-null  float64
 9   WindDir9am     239650 non-null  object
 10  WindDir3pm     248385 non-null  object
 11  WindSpeed9am   254453 non-null  float64
 12  WindSpeed3pm   250031 non-null  float64
 13  Humidity9am    253840 non-null  float64
 14  Humidity3pm    248930 non-null  float64
 15  Pressure9am    231248 non-null  float64
 16  Pressure3pm    231270 non-null  float64
 17  Cloud9am       142142 non-null  float64
 18  Cloud3pm       136104 non-null  float64
 19  Temp9am        255316 non-null  float64
 20  Temp3pm        250294 non-null  float64
 21  RainToday      251949 non-null  object
 22  RainTomorrow   251949 non-null  object
dtypes: float64(16), object(7)
memory usage: 45.6+ MB

Types of variables

In [ ]:
categorical = [var for var  in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 7 categorical variables

The categorical variables are : ['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [13]:
df[categorical].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

In [14]:
cat1 = [var for var in categorical if df[var].isnull().sum() != 0]

df[cat1].isnull().sum()

WindGustDir     19240
WindDir9am      20258
WindDir3pm      11523
RainToday        7959
RainTomorrow     7959
dtype: int64

Frequency counts of categorical variables

In [16]:
for var in categorical:
    print(df[var].value_counts())

Date
2020-07-03    49
2020-06-18    49
2020-06-19    49
2020-06-20    49
2020-06-21    49
              ..
2008-01-11     1
2008-01-12     1
2008-01-13     1
2008-01-14     1
2008-01-31     1
Name: count, Length: 5841, dtype: int64
Location
Canberra            5841
Sydney              5749
Hobart              5598
Brisbane            5598
Melbourne           5598
Darwin              5598
Perth               5597
Wollongong          5445
Albury              5445
GoldCoast           5445
Townsville          5445
Cairns              5445
AliceSprings        5445
Launceston          5445
MountGambier        5444
Tuggeranong         5444
Penrith             5444
Albany              5444
Ballarat            5443
Bendigo             5436
MountGinini         5433
Sale                5414
MelbourneAirport    5414
Watsonia            5414
WaggaWagga          5414
CoffsHarbour        5414
Moree               5414
Cobar               5414
Williamtown         5414
NorfolkIsland       5414
Richmond            5414
SydneyAirport       5414
Dartmoor            5414
Mildura             5414
Woomera             5414
Portland            5414
PearceRAAF          5413
Nuriootpa           5413
PerthAirport        5413
Walpole             5410
NorahHead           5409
BadgerysCreek       5390
SalmonGums          5367
Witchcliffe         5288
Newcastle           4030
Uluru               3983
Nhil                3983
Adelaide            3924
Katherine           3893
Name: count, dtype: int64
WindGustDir
W      17305
SE     16972
E      16663
S      16516
SSW    16243
SSE    16069
WSW    15732
N      15667
SW     15662
ENE    14757
WNW    14459
NW     14234
ESE    13764
NE     13056
NNE    11855
NNW    11714
Name: count, dtype: int64
WindDir9am
N      19986
SE     16851
E      16845
SSE    16514
S      15411
SW     14904
NW     14770
W      14594
ESE    14445
NNE    14418
ENE    14197
NNW    13836
SSW    13724
NE     13517
WNW    13403
WSW    12235
Name: count, dtype: int64
WindDir3pm
SE     18767
W      17523
S      17403
WSW    16654
SSE    16187
SW     15996
WNW    15656
ESE    15469
N      15300
SSW    15141
E      14933
NE     14855
NW     14741
ENE    14053
NNW    13641
NNE    12066
Name: count, dtype: int64
RainToday
No     196386
Yes     55563
Name: count, dtype: int64
RainTomorrow
No     196394
Yes     55555
Name: count, dtype: int64

In [17]:
for var in categorical:
    print(df[var].value_counts()/np.float64(len(df)))

Date
2020-07-03    0.000189
2020-06-18    0.000189
2020-06-19    0.000189
2020-06-20    0.000189
2020-06-21    0.000189
                ...
2008-01-11    0.000004
2008-01-12    0.000004
2008-01-13    0.000004
2008-01-14    0.000004
2008-01-31    0.000004
Name: count, Length: 5841, dtype: float64
Location
Canberra            0.022473
Sydney              0.022119
Hobart              0.021538
Brisbane            0.021538
Melbourne           0.021538
Darwin              0.021538
Perth               0.021535
Wollongong          0.020950
Albury              0.020950
GoldCoast           0.020950
Townsville          0.020950
Cairns              0.020950
AliceSprings        0.020950
Launceston          0.020950
MountGambier        0.020946
Tuggeranong         0.020946
Penrith             0.020946
Albany              0.020946
Ballarat            0.020942
Bendigo             0.020915
MountGinini         0.020904
Sale                0.020830
MelbourneAirport    0.020830
Watsonia            0.020830
WaggaWagga          0.020830
CoffsHarbour        0.020830
Moree               0.020830
Cobar               0.020830
Williamtown         0.020830
NorfolkIsland       0.020830
Richmond            0.020830
SydneyAirport       0.020830
Dartmoor            0.020830
Mildura             0.020830
Woomera             0.020830
Portland            0.020830
PearceRAAF          0.020827
Nuriootpa           0.020827
PerthAirport        0.020827
Walpole             0.020815
NorahHead           0.020811
BadgerysCreek       0.020738
SalmonGums          0.020650
Witchcliffe         0.020346
Newcastle           0.015505
Uluru               0.015325
Nhil                0.015325
Adelaide            0.015098
Katherine           0.014978
Name: count, dtype: float64
WindGustDir
W      0.066581
SE     0.065300
E      0.064111
S      0.063546
SSW    0.062495
SSE    0.061826
WSW    0.060529
N      0.060279
SW     0.060260
ENE    0.056778
WNW    0.055631
NW     0.054766
ESE    0.052957
NE     0.050233
NNE    0.045612
NNW    0.045070
Name: count, dtype: float64
WindDir9am
N      0.076896
SE     0.064834
E      0.064811
SSE    0.063538
S      0.059294
SW     0.057343
NW     0.056828
W      0.056151
ESE    0.055577
NNE    0.055473
ENE    0.054623
NNW    0.053234
SSW    0.052803
NE     0.052007
WNW    0.051568
WSW    0.047074
Name: count, dtype: float64
WindDir3pm
SE     0.072206
W      0.067420
S      0.066958
WSW    0.064077
SSE    0.062280
SW     0.061545
WNW    0.060237
ESE    0.059517
N      0.058867
SSW    0.058255
E      0.057455
NE     0.057155
NW     0.056716
ENE    0.054069
NNW    0.052484
NNE    0.046424
Name: count, dtype: float64
RainToday
No     0.755598
Yes    0.213779
Name: count, dtype: float64
RainTomorrow
No     0.755629
Yes    0.213749
Name: count, dtype: float64